.layout{
  display:flex;
}

.mainContent{
  margin-left:220px;
  padding:40px;
  width:100%;
  background:#f5f7fb;
  min-height:100vh;
}

.title{
  font-size:28px;
  margin-bottom:30px;
  padding-left: 20px;
}